<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/search.css">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Search Results</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

</head>

<body>
  <div class="container-big">



    <!-- Page Content  -->
    <div id="content">
      <!-- top navbar  -->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1D1D1D">
        <div class="container-fluid">
          <!-- button  -->
          <h3 class="brand"><i class="fas fa-ghost"></i>FLICK</h3>
          <button class="bttn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>
          <!-- right side things on navbar  -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <form class="form-inline" action="/search" method="GET">
                <input name="search" class="form-control" type="search" style="background: #121212; color:#BB86FC; border-color:#FF7597; width: 70%" placeholder="Search" aria-label="Search">
                <div class="notfound">
                  <button style="margin-left:6px; border-color:#FF7597; color:#FF7597;" type="submit">Search</button>
                </div>
              </form>
              <% if(currentUser) { %>
                <li class="nav-item">
                    <a class="nav-liink" href="/home"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-liink" href="/users/<%= currentUser._id %>"> <i class="fas fa-gamepad"></i> Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-liink" href="/users/livestreams/<%= currentUser._id %>"> <i class="fas fa-video"></i> Stream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-liink" href="/users/<%= currentUser._id %>/chat"> <i class="fas fa-comments"></i> Message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-liink" href="/logout"> <i class="fas fa-sign-out-alt"></i> LogOut</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-liink" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-liink" href="/register"> <i class="fas fa-sign-in-alt"></i> Register</a>
                </li>
            <% } %>
            </ul>
          </div>
        </div>
      </nav>
      <!--body-->


      <div class="container">


        <div class="wrapper">
          <!-- <div class="title-text">
                    <div class="title login">Login Form</div>
                    <div class="title signup">Signup Form</div>
                  </div> -->
          <div class="form-container">
            <div class="slide-controls">
              <input type="radio" name="slide" id="login" checked>
              <input type="radio" name="slide" id="signup">
              <label for="login" class="slide login">Accounts</label>
              <label for="signup" class="slide signup">Posts</label>
              <div class="slider-tab">
              </div>
            </div>
            <div class="form-inner">
              <section class="login">
                <!-- Accounts -->
                <% if(foundUsers.length == 0){ %>
                <p>No Matches Found <i class="fas fa-exclamation-circle"></i></p>
                <% }else{ %>
                <% foundUsers.forEach(function(user){ %>
                <% if(user.email !== currentUser.email){ %>
                <% if(currentUser.subscriptions.indexOf(user._id) === -1){ %>
                <div class="d-flex accounts">
                  <div>
                    <img src="<%= user.profilePicture %>">
                  </div>
                  <div class="username">
                    <h3><%= user.username.split(" ")[0] %></h3>
                  </div>
                  <div class="notfound ml-auto">
                    <button id="<%= user._id %>" onclick="ajaxDetermine('<%= user._id %>')">Subscribe xD</button>
                  </div>

                </div>
                <div class="linee"></div>
                <% }else if(currentUser.subscriptions.indexOf(user._id) !== -1){ %>
                <div class="d-flex accounts">>
                  <div>
                    <img src="<%= user.profilePicture %>">
                  </div>
                  <div class="username">
                    <h3><%= user.username.split(" ")[0] %></h3>
                  </div>
                  <div class="notfound ml-auto">
                    <button id="<%= user._id %>" onclick="ajaxDetermine('<%= user._id %>')">Unsubscribe</button>
                  </div>
                </div>
                <div class="linee"></div>
                <% } %>
                <% } %>

                <% }) %>
                <% } %>
                <!-- Accounts -->
                <!-- Accounts -->
              </section>
              <section class="signup">
                <!-- posts -->
                <!-- posts -->






                <!-- posts -->
                <!-- posts -->
              </section>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Footer  -->
    <div class="footer">
      <p>© 2020 Flick, LLC. All rights reserved | </p>
      <p>Follow us on</p>
      <ul>
        <li><a href="https://www.facebook.com/FLICKgamingWebsite"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fab fa-google" aria-hidden="true"></i></a></li>
        <li> <a href="https://www.instagram.com/flick_india/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
      </ul>

    </div>

  </div>
  </div>

<!-- jQuery CDN - min version -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
      });
    });
    
    function ajaxDetermine(id){
      let buttonText = $("#"+id).text();
			if(buttonText == 'Subscribe xD'){
				ajaxSubscribe(id);
			} else if(buttonText == 'Unsubscribe'){
				ajaxUnsubscribe(id);
      }
		}
			function ajaxSubscribe(id){
				var selectedUser = {
					id : id,
				}
				var currentUserId = "<%= currentUser._id %>";

				$.ajax({
          type : "POST",
          contentType : "application/json",
          url :"/users/"+currentUserId+"/subscribe",
          data : JSON.stringify(selectedUser),
          dataType : 'json',
          success : function(result) {
                      const button = $("#"+id);
                      button.text('Unsubscribe'); 
          },
          error : function(e) {
            alert("Error!")
            console.log("ERROR: ", e);
          }
				});
      }
      function ajaxUnsubscribe(id){
				var selectedUser = {
					id : id,
				}
				var currentUserId = "<%= currentUser._id %>";

				// DO POST
				$.ajax({
          type : "POST",
          contentType : "application/json",
          url :"/users/"+currentUserId+"/unsubscribe",
          data : JSON.stringify(selectedUser),
          dataType : 'json',
          success : function(result) {
                      const button = $("#"+id);
                      button.text('Subscribe xD'); 
          },
          error : function(e) {
            alert("Error!")
            console.log("ERROR: ", e);
          }
				});
			}
  </script>


  <script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("section.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("section.signup-link a");
    signupBtn.onclick = (() => {
      loginForm.style.marginLeft = "-50%";
      loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (() => {
      loginForm.style.marginLeft = "0%";
      loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (() => {
      signupBtn.click();
      return false;
    });
  </script>

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->

</body>

</html>
